<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/main.js"></script>
  <title>Podgląd danych</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
  
</head>
<body>
  <h1>Dodaj</h1>
  <form th:action="@{/admin}" method="post">
    <label>Nazwa</label>
    <input type="text" name="name" required>
    <label>Cena</label>
    <input type="number" min="0.01" step="0.01" name="price" required>
    <label>img</label>
    <input type="text" name="img">
    <button type="submit">Dodaj</button>

  </form>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Obrazek</th>
      <th>Akcje</th> <!-- Nowa kolumna dla przycisków -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
      <td th:text="${item.id}"></td>
      <td th:text="${item.name}"></td>
      <td th:text="${item.price}"></td>
      <td th:text="${item.img}"></td>
      <td>
        <a th:href="@{'/admin?editing=' + ${item.id}}">Edytuj</a>
        <form th:action="@{'/admin/delete/' + ${item.id}}" method="post"
              onsubmit="return confirm('Czy na pewno chcesz usunąć?')">
          <button onclick="deleteItem(${item.id})">Usuń</button>
        </form>
      </td>
    </tr>
    </tbody>

    <!-- Formularz edycji -->
    <form th:if="${editingItem != null}"
          th:action="@{'/admin/edit/' + ${editingItem.id}}" method="post">
      <h2>Edytuj</h2>
      <label>Nazwa</label>
      <input type="text" name="name" th:value="${editingItem.name}" required>
      <label>Cena</label>
      <input type="number" min="0.01" step="0.01" name="price" th:value="${editingItem.price}" required>
      <label>img</label>
      <input type="text" name="img" th:value="${editingItem.img}">
      <button type="submit">Zapisz zmiany</button>
    </form>
  </table>
  <script>
    function deleteItem(itemId) {
      if (confirm('Czy na pewno chcesz usunąć?')) {
        fetch(`/admin/delete/${itemId}`, {
          method: 'DELETE',
        })
                .then(response => {
                  if (response.ok) {
                    // Przekieruj lub zaktualizuj widok
                    window.location.reload(); // Przykładowe zaktualizowanie strony
                  } else {
                    console.error('Błąd podczas usuwania przedmiotu');
                  }
                })
                .catch(error => console.error('Błąd podczas wykonania żądania DELETE', error));
      }
    }
  </script>
</body>
</html>
